/* general -------------------------------------------------------*/
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h1{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

h2{
  font-family: Georgia;
  font-size: 30px;
}

h3{
  font-family: Georgia;
  font-weight: bold;
  font-size: 35px;
  color: white;
}

h4{
  font-family: Georgia;
  font-size: 20px;
}


/* Header -------------------------------------------------------*/
.header{
  display: flex;
  font-family: Verdana;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding-bottom: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border-bottom: 1px solid black;
}

.header .logo{
  display: inline-flex;
  position: relative;
  left: 30px;
}

.header .textlogo{
  display: inline-flex;
  position: relative;
  left: 40px;
}

.header nav{
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  left: 70%;
  width: 250px;
  align-items: center;
  color: black;
  text-decoration: underline;
}

/* Great container ----------------------------------------------*/
.great{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 70px;
  margin-left: 53px;
  margin-right: 53px;
  padding: 40px 30px 0px 0px;
  border: 1px black solid;
}

/* left container ------------------------------------------------*/
.left-container{
  display: inline-flex;
  width: 630px;
  border: 1px black solid;
  flex-direction: column;
}

.tuna{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  margin: 0px;
}

.tuna-img{
  display: flex;
  margin: 0px;
  width: 630px;
  height: 300px;
  background-image: url(img-story-main.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.tuna-heading{
  padding-top: 0px;
  margin: auto;
  text-align: left;
  vertical-align: middle;
}

.tuna-text{
  border: 1px black solid;
  margin: 0px;
}

.orca{
  border: 1px black solid;
  margin: 0px;
}

.earth{
  display: flex;
  border: 1px black solid;
  margin: 0px;
  height: 300px;
  background-image: url(img-story-2.png);
  background-size: contain;
}

.earth-heading{
  padding-top: 0px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.burguer{
  border: 1px black solid;
  margin: 0px;
}

.cameras{
  display: flex;
  border: 1px black solid;
  margin: 0px;
  height: 300px;
  background-image: url(img-story-3.png);
  background-size: contain;
}

.cameras-heading{
  padding-top: 0px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

/* Mid container --------------------------------------------------*/
.mid-container{
  display: inline-flex;
  width: 300px;
  border: 1px black solid;
  flex-direction: column;
}

.fbi{
  border: 1px black solid;
  margin: 0px;
}

.cats{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  margin: 0px;
}

.cats-img{
  display: flex;
  margin: 0px;
  height: 299px;
  width: 300px;
  background-image: url(img-story-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.cats-heading{
  padding-top: 0px;
  margin: auto;
  text-align: left;
  vertical-align: middle;
}

.cats-text{
  border: 1px black solid;
  margin: 0px;
}

/* Right container ------------------------------------------------*/
.right-container{
  display: inline-flex;
  flex-direction: column;
  width: 240px;
  border: 1px black solid;
}

.cookie-image{
  margin: 0px;
}

.news-heading{
  border: 1px black solid;
  margin: 0px;
}

.news-list{
  border: 1px black solid;
  margin: 0px;
}
